<h2>Parked Vehicles</h2>
<table class="table table-bordered table-hover table-striped">
  <tr class="info">
    <td>State</td>
    <td>Plate</td>
    <td>Time</td>
    <td>Type</td>
    <td>Remove</td>
  </tr>
  {{#each vehicles}}
    <tr>
      <td>{{state}}</td>
      <td>{{plate}}</td>
      <td>{{createdAt}}</td>
      <td>{{type}}</td>
      <td>
        <button class="btn btn-warning btn-xs remove-vehicle">Remove</button>
        <div class="remove-confirmation hidden">
          <button class="btn btn-danger btn-xs confirm-remove" data-id={{_id}}>Confirm</button>
          <button class="btn btn-default btn-xs cancel-remove">Cancel</button>
        </div>
      </td>
    </tr>
  {{/each}}
</table>
